#root {
  height: 100vh;
}

.main-container {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
}

.ant-layout-sider {
  flex: 1 !important;
  max-width: 450px !important;
  width: 100% !important;
}

.div-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.div-descriptions {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  width: 100%;
  padding-left: 5vh;
  padding-right: 5vh;
}

.ant-select-selection-item {
  border: 0 !important;
  background: #073056 !important;
  color: white !important;
}

.ant-select-selector {
  border: 0 !important;
  background: #073056 !important;
  color: white !important;
}

.ant-select-selector:active {
  border: 0 !important;
  background: #073056 !important;
  color: white !important;
}

.ant-select-selection-placeholder {
  color: white !important;
}

.ant-select-arrow {
  color: white !important;
}

.ant-select-dropdown {
  background: #073056 !important;
  color: white !important;
}

.ant-select-item-option {
  background: #073056 !important;
  color: white !important;
}

.ant-select-item-option-selected {
  background: #031f39 !important;
  color: white !important;
}

.card-co2 {
  display: flex;
  flex-direction: row;
  background: #073056 !important;
  color: white !important;
  border: 0 !important;
  width: 100%;
}
.card-co2 > .ant-card-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 0;
  padding-right: 0;
  align-items: center;
  justify-content: center;
}
.divider-co2 {
  margin-left: 0;
  border-inline-start: 1px solid white;
  height: 100%;
}

.ant-statistic.statistic-co2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.ant-statistic-content {
  padding: 0 !important;
  color: white !important;
}

.ant-statistic-title {
  color: white !important;
}
/*show container leaflet*/

.iframe-map {
  display: flex;
  width: 100%;
  height: 100%;
}

.leaflet-container {
  /*width: 100vw;*/
  height: 100vh;
}

/*Map by name*/
.landplot-info {
  display: flex;
  position: fixed;
  max-height: 75px;
  height: 75px;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white !important;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
/*hover */
.landplot-info:hover {
  opacity: 1;
}
.p-landplot-name{
  display: flex;
  width:100px;
  font-size: 1.1em;
  font-weight: bold;
  justify-content: center;
  margin-right: 12px;
  margin-left: 12px;
}
.p-landplot-info{
  font-size: 1em;
  font-weight: bold;
  width: 80%;
  max-width: 80%;
  max-height: 75px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #737373;
  border-radius: 10px;
}

/*Lading Page*/
.header-landing {
  background: #0d211b;
}
